# Example configuration file.
#
# Copy to ./config and modify as needed.

# Put your oinkcode here for use by PulledPork.
OINKCODE=YOUR_OINK_CODE

# Extra volumes.
VOLUMES=""
#VOLUMES="${VOLUMES} -v /var/log/snort:/var/log/snort"